.blns {
    overflow:hidden;
    position: relative;
    width: 100vw; height: 100vh;
  
    div {
        top: 425px; left: 0;
        position: absolute;
        width: 131px; height: 159px;
        border-radius: 50%;
        z-index: 1;
            
            &:before {
                content: "";
                position: absolute;
                bottom: -7px; right: 50%;
                width: 0; height: 0;
                margin-right: -10px;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 13px solid #c03940;
            }
    
            &:after {
                content: "";
                position: absolute;
                width: 11px; height: 14px;
                border-radius: 50%;
                background: white;
                top: 30px; left: 35px;
                transform: rotate(45deg);
                background: linear-gradient(to bottom, rgba(255,255,255,.8), rgba(255,255,255,.2));
            }
    
            &[class^='bln-1'] {
                height: 145px;
                background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #b0cb47 0%, #3d954b 50%);
                transform: rotate(20deg);
            
                &:before {
                    border-bottom-color: #3d954b;
                }
            }
    
            &[class^='bln-2'] {
                width: 122px; height: 141px;
                background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #3bc0f0 0%, #0075bc 50%);
                transform: rotate(-20deg);
                
                &:before {
                    border-bottom-color: #0075bc;
                }
            }
    
            &[class^='bln-3'] {
                background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #f89640 0%, #c03940 50%);
      
                &:before {
                    border-bottom-color: #c03940;
                }
            }

            &[class^='bln-4'] {
                width: 132px; height: 151px;
                background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #cf85b8 0%, #a3509d 50%);
                transform: rotate(5deg);
          
                &:before {
                    border-bottom-color: #a3509d;
                }
            }
    
            &[class^='bln-5'] {
                width: 137px; height: 142px;
                background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #ffec37 0%, #f8b13d 50%);
                transform: rotate(7deg);
      
                &:before {
                    border-bottom-color: #f8b13d;
                }
            } 
    }
}