footer {
    width: 100%;
    max-width: $desktop;
    padding: 0 $padding;
    margin: 0 auto;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;

    @media (max-width: $tablet) {
        font-size: 0.75em
    }
    
    p {
        flex: 0 0 50%;
        
        @media (max-width: $tablet) {
            flex: 0 0 100%;
            text-align: center;
            margin: 0
        }
    }

    nav {
        text-align: right;
        float: right;
        flex: 0 0 50%;

        @media (max-width: $tablet) {
            flex: 0 0 100%;
            margin: 0 auto calc(#{$margin} / 1.3) 0;
            text-align: center
        }

        ul {
            margin: 5px 0;
            padding: 0;
    
            li {
                display: inline;
                font-size: 1em;
                margin-left: calc(#{$margin} * 1.7);
                white-space: nowrap;

                @media (max-width: $tablet) {
                    margin-left: 0;
                    padding: calc(#{$padding} / 1.3);
                }
            }
        }
    }

    a {
        text-decoration: none;
        color: $secondaryColor;
        transition: 0.3s ease all;

        &:hover {
            opacity: 0.8
        }
    }
}