body {
    font-family: $primaryFont;
    margin: 0;

    main {
        width: 100%;
        max-width: $desktop;
        margin: calc(#{$margin} * 2) auto;
        padding: 0 $padding;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        -webkit-animation: text-animation 3s linear; /* Safari 4+ */
  -moz-animation:    text-animation 3s linear; /* Fx 5+ */
  -o-animation:      text-animation 3s linear; /* Opera 12+ */
  animation:         text-animation 3s linear; /* IE 10+, Fx 29+ */

        .receiver {
            font-family: $secondaryFont;
            font-size: 4em;
            text-shadow: $textShadow;
            text-align: center;
            margin-top: calc(#{$margin} * 10);

            @media (max-width: $tablet) {
                margin-top: 10%
            }
        }

        .sender {
            font-family: $secondaryFont;
            font-size: 3em;
            text-align: center
        }
    }
}

@-webkit-keyframes text-animation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes text-animation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes text-animation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes text-animation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }